{% extends 'admin_template/base_template.html' %}

{% block page_title %}
    Edit Head | Username: {{ head.admin.username }} | #ID : {{ head.admin.id }}
{% endblock page_title %}

{% block main_content %}

{% load static %}
<style>
    .button {
        background-color: #23395d; 
        color: #ffffff; 
      }.button:hover {
        color: #ffffff; 
}
</style>
<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card ">
                    <div class="card-header">
                        <h3 class="card-title">Edit Head</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'edit_head_save' %}">
                        {% csrf_token %}

                        
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            

                        <div class="card-body">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="first_name" value="{{ head.admin.first_name }}">
                            </div>

                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="last_name" value="{{ head.admin.last_name }}">
                                <input type="hidden" name="head_id" value="{{ head.admin.id }}" />
                            </div>
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" name="email" value="{{ head.admin.email }}">
                            </div>

                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username" value="{{ head.admin.username }}">
                            </div>

                            {% comment %} <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password" value="{{ staff.admin.password }}">
                            </div> {% endcomment %}
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" name="address" value="{{ head.address }}">
                            </div>
        
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control" name="phone" value="{{ head.phone }}">
                            </div>
        
                            <div class="form-group">
                                <label>Profile Picture</label>
                                <input type="file" class="form-control-file" name="profile_pic" >
                            </div>
        
                            <div class="form-group">
                                <label>Date of Birth</label>
                                <input type="date" class="form-control" name="dob" value="{{ head.dob }}">
                            </div>

                            <div class="form-group">
                                <label>Gender</label>
                                <select class="form-control" name="gender">
                                    <option value="">Select Gender</option>
                                    <option value="M" {% if head.gender == 'M' %}selected{% endif %}>Male</option>
                                    <option value="F" {% if head.gender == 'F' %}selected{% endif %}>Female</option>
                                </select>
                            </div>                                                    
 


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn button">Update Head</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}