{% extends 'mem_template/base_template.html' %}

{% block page_title %}
    Member Home
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">
            <!--div class="row">

                <div class="w3-card-4" style="width:30%">
                  <header class="w3-container w3-light-grey">
                    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                  </header>
                  <br>
                  <div class="w3-container">
                    <div class="image">
                    <img src="{% static 'dist/img/user2-160x160.jpg' %}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                    </div>
                    <p>{{ user.username }}</p><br>
                  </div>
                  <br>
                 
                  <a href="{% url 'member_profile' %}"><button class="w3-button w3-block bg-primary text-white">Update</button></a>
                </div>
              </div-->
              <br>

            {% comment %} Boxes Section Starts {% endcomment %}
            <h2 style="margin-left:10px;margin-top:20px;">My Tasks</h2>
            <div style="display: flex; gap: 30px; margin-left:200px; margin-top:10px;">
              
              <div style="border: 2px dashed red; padding: 10px;">
                  <h3>All Tasks</h3>
                  {% for task in all_tasks %}
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">{{ task.task_title }}</h5>
                        <p class="card-text">{{ task.task_description }}</p>
                        <p class="card-text">Due Date: {{ task.task_due_date }}</p>
                      </div>
                    </div>
                  {% empty %}
                    <p>No tasks.</p>
                  {% endfor %}
              </div>
            
              <div style="border: 2px dashed green; padding: 10px;">
                  <h3>Completed Tasks</h3>
                  {% for task in completed_tasks %}
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">{{ task.task_title }}</h5>
                        <p class="card-text">{{ task.task_description }}</p>
                        <p class="card-text">Due Date: {{ task.task_due_date }}</p>
                      </div>
                    </div>
                  {% empty %}
                    <p>No completed tasks.</p>
                  {% endfor %}
              </div>
            
              <div style="border: 2px dashed orange; padding: 10px;">
                  <h3>In Progress Tasks</h3>
                  {% for task in in_progress_tasks %}
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">{{ task.task_title }}</h5>
                        <p class="card-text">{{ task.task_description }}</p>
                        <p class="card-text">Due Date: {{ task.task_due_date }}</p>
                      </div>
                    </div>
                  {% empty %}
                    <p>No tasks in progress.</p>
                  {% endfor %}
              </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

  