{% extends 'mem_template/base_template.html' %}

{% block page_title %}
      Projects
{% endblock page_title %}

{% block main_content %}

{% load static %}
<style>
.button {
  background-color: #23395d; 
  color: #ffffff; 
}.button:hover {
  color: #ffffff; 
}
</style>
<section class="content">
  <div class="container-fluid">
    
    <ul>
      <div class="row">
        {% for project in member_projects %}
        <div class="col-md-4">
          <form action="/get_tasks/" method="GET">
            {% csrf_token %}
            <input type="hidden" name="project_id" value="{{ project.id }}">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ project.project_title }}</h5>
                <p class="card-text">Owner: {{ project.owner }}</p>
                <p class="card-text">Members:</p>
                <ul class="list-unstyled">
                  {% for member in project.members.all %}
                  <li>{{ member }}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn button">View Tasks</button>
              </div>
            </div>
          </form>
        </div>
        {% empty %}
        <p>No projects available.</p>
        {% endfor %}
      </div>
    </ul>
    <div id="taskListContainer"></div>
  </div><!-- /.container-fluid -->
</section>


{% endblock main_content %}