{% extends 'head_template/base_template.html' %}

{% block page_title %}
    Edit Subject | ID : {{ task.id }}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Task</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'edit_task_save' %}">
                        {% csrf_token %}

                        
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            

                        <div class="card-body">
                            <div class="form-group">
                                <label>Task Name </label>
                                <input type="text" class="form-control" name="task" value="{{ task.task }}">
                            </div>

                            <div class="form-group">
                                <label>Project </label>
                                <select class="form-control" name="project">
                                    {% for project in projects %}
                                        <option value="{{ project.id }}" {% if project.id == task.project_id.id %} selected {% endif %}>{{ project.project_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Member </label>
                                <select class="form-control" name="member">
                                    {% for member in members %}
                                        <option value="{{ member.id }}" {% if member.id == task.member_id.id %} selected {% endif %}>{{ member.first_name }} {{ member.last_name }}</option>
                                    {% endfor %}
                                </select>
                                
                                <input type="hidden" name="task_id" value="{{ task.id }}" />
                            </div>

                            <div class="form-group">
                                <label>Status </label>
                                <select class="form-control" name="status" value="{{ task.task_status }}">
                                   
                                        <option value="New">New</option>
                                        <option value="Active">Active</option>
                                        <option value="Completed">Completed</option>
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Due date </label>
                                                               
                                    <input type="date" class="form-control" name="duedate" placeholder="Enter duedate" value="{{ task.task_due_date }}" required>
                                   
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        
                        <button type="submit" class="btn btn-primary">Update Task</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}