{% extends 'head_template/base_template.html' %}

{% block page_title %}
<h4>Welcome, {{ user.first_name }} {{ user.last_name }}</h2>
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">
            <div class="row">
              
                <div class="w3-card-4" style="width:40%; margin:20px;">
                  <header class="w3-container w3-light-grey">
                    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                  </header>

                  <br>
                  

                  <div class="w3-container">
                    <div class="image">
                    <img src="{% static 'dist/img/user2-160x160.jpg' %}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                    </div>
                    <p>{{ user.username }}</p><br>
                    <p>Total Logged-in Time: {{ total_time|floatformat:0 }} minutes</p>
                  </div>
                  <br>
                 
                  <a href="{% url 'head_profile' %}"><button class="w3-button w3-block bg-primary text-white">Update</button></a>
                </div>
              </div>
              <br>

            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

  {% block custom_js %}
  <script>
    $(document).ready(function() {
      // Get the CSRF token from the cookie
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
  
      $('#toggleButton').change(function() {
        var isChecked = $(this).is(':checked');
        var userId = '{{ request.user.id }}'; // Assuming you have access to the logged-in user's ID
  
        // Get the CSRF token
        var csrftoken = getCookie('csrftoken');
  
        // Send AJAX request to update user login status
        $.ajax({
          url: '/toggle-login/',
          type: 'POST',
          data: {
            'user_id': userId,
            'is_checked': isChecked
          },
          headers: {
            'X-CSRFToken': csrftoken  // Include the CSRF token in the request headers
          },
          success: function(response) {
            console.log(response);
  
            // Reload the page after successful login/logout
            location.reload();
          },
          error: function(xhr, errmsg, err) {
            console.log(errmsg);
          }
        });
      });
    });
  </script>
    
  {% endblock custom_js %}