{% extends 'head_template/base_template.html' %}

{% block page_title %}
<h4>Welcome, {{ user.first_name }} {{ user.last_name }}</h2>
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="w3-card-4" style="width:70%">
                  <header class="w3-container w3-light-grey">
                    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                  </header>
                  <br>
                  <div class="w3-container">
                    <div class="image">
                    <img src="{% static 'dist/img/user2-160x160.jpg' %}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                    </div>
                    <p>{{ user.username }}</p><br>
                  </div>
                  <br>
                 
                  <a href="{% url 'head_profile' %}"><button class="w3-button w3-block bg-primary text-white">Update</button></a>
                </div>
              </div>
              <br>

            {% comment %} Boxes Section Starts {% endcomment %}
            
            {% comment %} Boxes Section Ends 

            <div class="row">
                <div class="col-lg-6">
                    <!-- PIE CHART -->
                    <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Leave Status Chart</h3>

                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

                <div class="col-lg-6">
                    <!-- BAR CHART -->
                    <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Subjects Attend Chart</h3>

                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                        <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- BAR CHART -->
                    <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Student Attendance Data</h3>

                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                        <canvas id="barChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>{% endcomment %}
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

  {% block custom_js %}
    <script>
       $(document).ready(function(){
           //Code for Pie Chart
            
       })
    </script>
  {% endblock custom_js %}