{% load static %}
<style>
  .main-sidebar,.sidebar {
    
    background-image: url('{% static 'dist/img/sidebar.png'%}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border:none;
    }
    img {
      border-radius: 4px;
      padding: 5px;
      width: 150px;
      height: auto;
    }
    .form-input {
      display: flex;
      align-items: absolute;
      height: 36px;
      width: 90%;
      position: center;
    }
    .form-input input {
      flex-grow: 1;
      padding: 0 16px;
      height: 100%;
      border: none;
      background: white;
      border-radius: 36px 0 0 36px;
      outline: none;
      width: 200%;
      color: black;
    }
    .form-input button {
      width: 150px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.5);
      opacity: 0.4;
      color: #f4f5f0;
      font-size: 18px;
      border: none;
      outline: none;
      border-radius: 0 36px 36px 0;
      cursor: pointer;
    }
    .nav-link1.active {
      background-color: yellow;
    }
  </style>
  
  
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <!--a href="{% url 'admin_home' %}" class="brand-link">
          <img src="{% static 'dist/img/logo.png' %}" alt="Sciqus Logo" class="brand-image  elevation-3"
              style="opacity: .7">
          <span class="brand-text font-weight-light">Task Manager</span>
        </a-->

        <br>&emsp;&emsp;&emsp;&emsp;<img src="https://www.linkpicture.com/q/Asset.png" alt="img1"><br>
      <form action="#">
        <div class="form-input">
          &emsp;&emsp;<input type="search">
          <button type="submit" class="search-btn"><i class="fa fa-search" style="font-color:white; font-size: 18px;" ></i></button>
        </div>
      </form><br>
  

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="{% url 'head_profile' %}" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            
            <li class="nav-item">
              {% url 'head_home' as head_home %}
              <a href="{{ head_home }}" class="nav-link {% if request.path == head_home %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Home
                  
                </p>
              </a>
            </li>
            <li class="nav-item">
              {% url 'projects' as projects %}
              
              <a href="{{ projects }}" class="nav-link {% if request.path == projects %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard"></i>
                <p>
                   Project List
                </p>
              </a>
            </li>
            <li class="nav-item">
              {% url 'tasks' as tasks %}
             
              <a href="{{ tasks }}" class="nav-link {% if request.path == tasks %} active {% endif %} {% if request.path == edit_task %} active {% endif %}">
                <i class="nav-icon fas fa-chalkboard"></i>
                <p>
                   Task List
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'apply_leave' as apply_leave %}
              <a href="{{ apply_leave }}" class="nav-link {% if request.path == apply_leave %} active {% endif %}">
                <i class="nav-icon fas fa-envelope-open-text"></i>
                <p>
                  Apply Leave
                  
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'feedback' as feedback %}
              <a href="{{ feedback }}" class="nav-link {% if request.path == feedback %} active {% endif %}">
                <i class="nav-icon fas fa-comments"></i>
                <p>
                  Feedback
                 
                </p>
              </a>
            </li>
            

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>