{% extends 'head_template/base_template.html' %}
{% block page_title %}
     Project List
{% endblock page_title %}

{% block main_content %}
{% load static %}

<div class="main-container">
<a class="go-back-link" href="{% url 'tasks' %}"><i class="ph-arrow-circle-left-fill"></i></a>
<p class="unfinished-projects">Are you sure you want to delete <strong>"{{task}}"</strong></p>


<a href="{% url 'tasks' %}">Go back</a>

<form class="form" method="POST">
	{% csrf_token %}
	

	<input class="button" value="Delete" type="submit" />
</form>

{% endblock main_content %}